.primary-heading {
    text-align: center;
        color: rgb(85, 85, 85);
        text-decoration: none;
        font-weight: 100;
        font-size: 60px;
        letter-spacing: 1px;
        margin-top: 20px;
        margin-bottom: 15px;
        @media only screen and (max-width: 600px) {
            font-size: 30px;
          }       
}
h2 {
    font-weight: 300; 
    color: rgb(94, 93, 93);
    margin: 10px 0px 35px 15px;
    @media only screen and (max-width: 600px) {
        margin-bottom: 50px;
      }
}